:root {
  --primary-color: #029c56;
  --black: #121212;
}

*,
*:focus-within,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  line-height: 1.4;
  font-family: "DM Sans", sans-serif;
}

h1,
p {
  color: var(--black);
}
.wrapper {
  max-width: 100%;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}
.header-text {
  font-size: 50px;
  max-width: 430px;
  line-height: 55px;
  padding: 0 2rem 2rem 0;
}

/* Hero section styling */
.hero-section {
  background-color: var(--primary-color);
  background-image: url("../img/hero-bg.png");
  text-align: center;
  color: #fff;
  /* overflow: hidden; */
}

.main-header {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding: 2em 0;
  height: 90px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.logo img {
  width: 100%;
}

.nav-items {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-item {
  padding: 0 2em;
  list-style: none;
}
.nav-item a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 20px;
}

/* hero section */

.hero-text {
  max-width: 1000px;
  margin: auto;
}
.hero-text h1 {
  font-size: 140px;
  line-height: 140px;
}
.hero-text p {
  max-width: 450px;
  margin: 2em auto 6em auto;
}

.download-option__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.store-btn {
  display: block;
}
.store-btn img {
  width: 200px;
}

/* img-wrapper */
.img-wrapper {
  margin-top: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-wrapper img {
  /* width: 100%; */
  border: 1px solid red;
  position: absolute;
}

.img1 {
  transform: translate(74%, 50px);
  z-index: 1;
}
.img2 {
  z-index: 3;
}
.img3 {
  transform: translate(-63%, 24px);
  z-index: 1;
}
/*  Hero section ending */

/* About us styling */
.about-us {
  height: 560px;
  background-image: url("../img/hero-bg.png");
}
.about-us .container {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.about-us .about-us__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  width: 65%;
  max-width: 700px;
}
.about-us__text h1 {
  color: var(--primary-color);
}

.about-us__img {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

/* fans section styling */
.fans .container {
  display: flex;
  align-items: center;
}

.fans-text {
  padding: 0 3rem;
  flex: 1;
}
/* .fans-text h1 {
  line-height: 50px;
  padding: 0 2rem 2rem 0;
  max-width: 430px;
} */
.fans-text p {
  max-width: 400px;
}
.fans-img {
  display: flex;
  align-items: center;
}

.influencers {
  margin: 6rem 0;
}
.influencers .container {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.influencer-text {
}
.influencer-text p {
  max-width: 365px;
}
