* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #029c56;
  --primary-color-darker: #007640;
  --black: #121212;
  --fans-color: #ffbb62;
  --influencers-color: #FF8C62;

  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  padding: 32px 112px;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

/* Home Section */
.home {
  background: var(--primary-color) url(../img/subtle-dots.png);
  color: #fff;
  padding-bottom: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

header nav a {
  font-size: 1.3rem;
  padding: 0 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 6rem 0;
  overflow: hidden;
}

.hero__heading {
  max-width: 700px;
  font-size: 7rem;
  text-align: center;
  line-height: 1;
}

.hero__text {
  max-width: 600px;
  margin-top: 2rem;
  font-size: 1.4rem;
  text-align: center;
}

.hero .download-btns {
  width: 550px;
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

.hero .mobile-images {
  width: 100%;
  text-align: center;

  /* to hide the space that was there for reason */
  transform: translateY(5px); 
}

.hero .mobile-images img {
  width: 380px;
}

.hero .mobile-images .mobile-left {
  transform: translateX(50%);
}

.hero .mobile-images .mobile-center {
  position: relative;
  z-index: 3;
}

.hero .mobile-images .mobile-right {
  transform: translateX(-50%);
}


/*  About Section */
.about {
  background-image: url(../img/subtle-dots.png);
  padding-top: 128px;
  padding-bottom: 128px;
}

.about__heading {
  font-size: 4rem;
  line-height: 1.2;
  color: var(--primary-color-darker);
}

.about__text {
  max-width: 700px;
  margin-top: 1.6rem;
  font-size: 1.2rem;
  word-spacing: 2pt;
  line-height: 1.5;
  color: var(--black);
  opacity: 0.6;
}

/* Fans Section */
.fans {
  padding: 32px 0 0;
}

.fans__row {
  display: flex;
}

.fans__col {
  width: 50%;
  padding-top: 96px;
  padding-bottom: 96px;
}

.fans__col:nth-of-type(1) {
  padding-left: 112px;
}

.fans__col:last-of-type {
  padding-right: 112px;
}

.fans__badge {
  display: inline-block;
  width: 100px;
  padding: 8px 0;
  border-radius: 60px;
  background-color: var(--fans-color);
  text-align: center;
  font-weight: bold;
}

.fans__heading {
  font-size: 4rem;
  line-height: 1.2;
  color: var(--black);
  margin-top: 2rem;
  width: 500px;
}

.fans__text {
  max-width: 500px;
  margin-top: 1.6rem;
  font-size: 1.2rem;
  word-spacing: 2pt;
  line-height: 1.5;
  color: var(--black);
  opacity: 0.6;
}

.fans__row:nth-child(2) .fans__heading,
.fans__row:nth-child(2) .fans__text {
  color: #fff;
  opacity: 1;
}

.fans__header__wrapper {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fans__msg__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid var(--fans-color);
  border-radius: 50%;
}

/* Influencers Section */
.influencers {
  padding-bottom: 0;
}

.influencers__row {
  display: flex;
}

.influencers__col {
  width: 50%;
  padding-top: 96px;
}

.influencers__badge {
  display: inline-block;
  width: 140px;
  padding: 8px;
  border-radius: 60px;
  background-color: var(--influencers-color);
  text-align: center;
  font-weight: bold;
}

.influencers__col--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.influencers__heading {
  font-size: 4rem;
  line-height: 1.2;
  color: var(--black);
  margin-top: 2rem;
  width: 500px;
}

.influencers__text {
  max-width: 500px;
  margin-top: 1.6rem;
  font-size: 1.2rem;
  word-spacing: 2pt;
  line-height: 1.5;
  color: var(--black);
  opacity: 0.6;
}

.influencers__col--dark {
  background-color: #202020;
}